<h3>{{ title }}</h3>
<div id="details">
  ID : <label id="id">{{ empp?.id }}</label>
  <p></p>
  Name : <label id="name">{{ empp?.name }}</label>
  <p></p>
  Location : <label id="location">{{ empp?.location }}</label>
  <p></p>
  Mobile : <label id="mobile">{{ empp?.mobile }}</label>
  <p></p>
  User Name : <label id="userName">{{ empp?.userName }}</label>
  <p></p>
  First Name : <label id="firstName">{{ empp?.firstName }}</label>
  <p></p>
  Last Name : <label id="lastName">{{ empp?.lastName }}</label>
  <p></p>
  Email : <label id="email">{{ empp?.email }}</label>
  <p></p>
  Birth Day : <label id="birthDate">{{ empp?.birthDate }}</label>
  <p></p>
  Basic Salary : <label id="basicSalary">{{ empp?.basicSalary }}</label>
  <p></p>
  Satus : <label id="status">{{ empp?.status }}</label>
  <p></p>
  Group : <label id="group">{{ empp?.group }}</label>
  <p></p>
  Description : <label id="description">{{ empp?.description }}</label>
  <p></p>
  <input type="submit" value="Back" id="back" (click)="back()" />
</div>
